<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="lastfm.api.class">Palleas\LifestreamBundle\Service\LastFmAPI</parameter>
        <parameter key="flickr.api.class">Palleas\LifestreamBundle\Service\FlickRAPI</parameter>
    </parameters>

    <services>
        <service id="lifestream.lastfm.api" class="%lastfm.api.class%" />
        <service id="lifestream.flickr.api" class="%flickr.api.class%" />
    </services>
</container>