<html>
    <head></head>
    <body>

    <h1>Lifestream</h1>

    <ul>
    {% for event in lifestream %}
         <li>{{ event.eventAt|date('Y-m-d H:i:s') }} - {{ event.title }}</li>
    {% endfor %}
    </ul>

    </body>
</html>