<section class="recents lastfm">
    <h2>In my ears</h2>

    <ul class="tracks">
        {% for track in recents %}
            <li class="track">{{ track.name }} <span class="by">(by {{ track.artist }})</span></li>
        {% endfor %}
    </ul>
</section>